<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-custom">
        <a class="navbar-brand" href="#">
          <img th:src="@{/src/main/resources/static/img/mendigokkk.png}" width="40" height="40" alt="" >
          AbanadonWare
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Name</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">genre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Platform</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Year</a>
            </li>

          </ul>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">games forgotten by god and the world</h1>
          <p class="lead">my dick is huge but its just a glorified sensory nerve its nothing to be embarrassed about</p>
        </div>
      </div>



</body>
<style>
  body{
    background-color: #1a1a1a;
  }
  .jumbotron{
    color: beige;
    padding: 2.5rem;
    margin-left: 15%;
  }
</style>
</html>